---
---
body {
  font-family: 'Poiret One', arial;
  font-size: 18px;
}

.story {
  font-family: 'Indie Flower', cursive;
}

.problem {
  margin: 20px 0;
}

.answer {
  margin: 20px 0;
  padding-bottom: 30px;
  background: url(/img/separator.png) no-repeat bottom center
}

.ergo {
  text-align: center;
  font-family: Helvetica;
}

.footer {
  padding-top: 100px;
  text-align: center;
}

.progress-page {
  .limited {
    max-height: 4em;
    overflow: auto;
  }
}