---
---
body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #333;
}

b, strong {
  font-size: 1.1em;
}

h1, h2, h3, h4, a {
  font-family: 'Poiret One', arial;
}

a {
  font-size: 1.1em;
}

.card-row {
  border-top: solid 1px #eee;
  .limited {
    padding-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
  }
}

.story {
  font-family: 'Indie Flower', cursive;
}

.problem {
  margin: 20px 0;
}

.answer {
  margin: 20px 0;
  padding-bottom: 30px;
  background: url(/img/separator.png) no-repeat bottom center
}

.ergo {
  text-align: center;
  font-family: Helvetica;
}

.footer {
  padding-top: 100px;
  text-align: center;
}

.progress-page {
  .limited {
    max-height: 4em;
    overflow: auto;
  }
}