---
---
body {
  font-family: 'Poiret One', arial;
  font-size: 18px;
}

.story {
  font-family: 'Indie Flower', cursive;
}

.problem {
  margin: 20px 0;
}

.answer {
  margin: 20px 0;
}

.ergo {
  text-align: center;
  font-family: Helvetica;
}

.footer {
  padding-top: 100px;
  text-align: center;
}