<div class="footer">
  <div class="container">
    &copy; 2007-2015 <a href="http://jeremylightsmith.com">Jeremy Lightsmith</a>
    |
    <a href="mailto:jeremy.lightsmith@gmail.com">jeremy.lightsmith@gmail.com</a>
  </div>

  <script type="text/javascript">
    // var _gaq = _gaq || [];
    // _gaq.push(['_setAccount', '']);
    // _gaq.push(['_trackPageview']);

    // (function() {
    //   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    //   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    //   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    // })();
  </script>
</div>
